@media screen and (max-width: 1600px) {
    .container {
        max-width: 1280px;
    }

    .directions2__img {
        width: 100%
    }

    .directions2__item__name {
        font-size: 42px;
    }

    .h1 {
        font-size: 52px;
        line-height: 60px;
    }

    .form {
        gap: 20px;
    }

    .teachers__slider-wrap {
        right: 25px;
    }

    .h2 {
        font-size: 42px;
    }

    .h2 > img {
        width: 100px;
        height: 100px;
        right: -64px;
        top: -52px;
    }

    .teachers__text {
        max-width: 600px;
    }

    .reviews__slide {
        max-width: 600px;
    }

    .footer__content {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .chart__text.one {
        left: 230px;
        top: 250px;
    }

    .chart__text.two {
        left: 300px;
        top: -110px;
    }

    .chart__text.three {
        left: 680px;
        top: 240px;
    }

    .chart__text.four {
        left: 830px;
        top: 70px;
    }

    .chart__text.five {
        left: 750px;
        top: -190px;
    }

    .chart {
        padding-top: 200px;
    }

    .reviews__icon:nth-child(1) {
        top: 100px;
        left: 0;
    }

    .reviews__icon:nth-child(3) {
        bottom: -20px;
        right: 0;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        max-width: unset;
        width: 95%;
    }

    .directions__item {
        padding: 15px;
    }

    .directions__content {
        gap: 30px;
    }

    .directions__item__name {
        font-size: 28px;
    }

    .first-screen__decor {
        display: none;
    }

    .subtitle {
        font-size: 20px;
    }

    .first-screen__image {
        margin-top: 0;
        width: 80%;
    }

    .reviews__content {
        margin: 0 auto;
        width: 640px;
    }

    .questions__list__item {
        font-size: 20px;
    }

    .teachers__subtitle {
        margin-bottom: 20px !important;
        display: block;
    }

    .questions__text,
    .first-screen__form-label {
        font-size: 20px;
    }
}

@media screen and (max-width: 1300px) {
    .teachers .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .teachers__column:last-child {
        margin-left: 50px;
        margin-top: 40px;
        width: 100%;
    }

    .teachers__slider {
        max-width: unset;
        width: 90%;
    }

    .teachers__slider-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .prices__content {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .chart__text.three {
        left: 640px;
        top: 220px;
    }

    .chart__text.four {
        left: 790px;
        top: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .h2 {
        font-size: 32px;
    }

    .chart .container {
        flex-direction: column;
    }

    .chart__text {
        position: relative;
        z-index: 2;
        margin-top: 30px;
        margin-bottom: 0;
        left: unset!important;
        top: unset!important;
        width: 100%;
    }

    .chart__img {
        /*position: absolute;*/
        /*left: 0;*/
        z-index: 1;
        width: 100%;
    }

    .directions2__img {
        margin-bottom: 0;
    }

    .first-screen__column {
        width: 100%;
    }

    .directions__content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .first-screen .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .first-screen__image {
        width: 500px;
    }

    .aim__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .aim__item:first-child, .aim__item:last-child {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .form-block {
        padding-bottom: 50px;
    }

    .directions,
    .teachers,
    .aim,
    .reviews,
    .questions,
    .scroller,
    .faq,
    .simple,
    section.prices,
    .chart,
    footer {
        padding: 50px 0;
    }

    .form {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .input {
        max-width: unset;
    }

    .button {
        max-width: unset;
    }

    .questions__list {
        margin-left: 10px;
    }

    .menu__item {
        margin-left: 20px;
    }

    .menu__item__icon {
        height: 20px;
    }
}

@media screen and (max-width: 800px) {
    .directions2__content {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .questions__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .prices-image {
        display: none;
    }

    .footer__content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .faq__item__title {
        font-size: 20px;
    }

    .prices__content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .simple .container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: flex-start;
    }

    .subjects__item {
        padding: 10px 30px;
    }

    .questions__list {
        margin-left: 0;
    }

    .teachers__text {
        max-width: unset;
    }

    .teachers__column {
        width: 100%;
    }

    .aim__text {
        font-size: 16px;
        max-width: 300px;
    }

    .slick-arrow {
        z-index: 2;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .reviews__slide {
        max-width: 330px;
    }

    .reviews__slide__img {
        width: 100%;
        height: 330px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .reviews__slide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .reviews__slide__content {
        margin-top: 10px;
    }

    .reviews__slide__text {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .reviews__content {
        width: 100%;
    }

    .teachers__slider {
        width: 100%;
    }

    .teachers__column:last-child {
        margin-left: 0;
    }

    .teachers__slider-wrap {
        right: unset;
    }

    .directions__content {
        width: 95%;
    }

    .first-screen__image {
        display: none;
    }

    .first-screen__form-label {
        margin-top: 20px;
    }

    .logo-wrap img {
        width: 150px;
    }

    .faq .h2 img {
        display: none;
    }

    .drawer-hamburger {
        display: block;
    }

    .menu {
        display: none;
    }

    .drawer-nav {
        display: block;
    }

    .footer__block__link img {
        height: 50px;
    }
}

@media screen and (max-width: 500px) {
    .first-screen__form-label {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .prices__item {
        padding: 40px 20px;
    }

    .faq__item__title {
        margin-right: 10px;
    }

    .directions__content {
        margin-top: 30px;
    }

    .faq__item {
        padding: 10px 20px;
    }

    .scroller__line__items__item__text {
        font-size: 16px;
    }

    .container {
        width: 90%;
    }

    .form-block {
        padding-top: 80px;
    }

    .first-screen__title {
        font-size: 40px;
    }

    .form {
        gap: 5px 20px;
    }

    .h2 {
        font-size: 24px;
    }

    .subjects__content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 15px 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .subjects__item {
        width: 100%;
        margin: 0;
        padding: 20px 10px;
        font-size: 16px;
    }

    .reviews__icon:nth-child(1) {
        left: -75px;
        top: 400px;
    }

    .reviews__icon:nth-child(2) {
        left: unset;
        right: -70px;
        top: 0;
    }

    .reviews__icon:nth-child(3) {
        right: -80px;
    }
}

@media screen and (max-width: 400px) {
    .first-screen__title {
        font-size: 24px;
        line-height: 28px;
        margin-top: 30px;
    }

    .form {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .h2 {
        font-size: 24px;
    }

    .directions__content {
        gap: 30px;
    }
}