@media screen and (max-width: 1600px) {
    .container {
        max-width: 1280px;
    }

    .h1 {
        font-size: 52px;
        line-height: 60px;
    }

    .form {
        gap: 20px;
    }

    .teachers__slider-wrap {
        right: 25px;
    }

    .h2 {
        font-size: 42px;
    }

    .h2 > img {
        width: 100px;
        height: 100px;
        right: -64px;
        top: -52px;
    }

    .teachers__text {
        max-width: 600px;
    }

    .reviews__slide {
        max-width: 600px;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        max-width: unset;
        width: 95%;
    }

    .directions__item {
        padding: 15px;
    }

    .directions__content {
        gap: 30px;
    }

    .directions__item__name {
        font-size: 28px;
    }

    .first-screen__decor {
        display: none;
    }

    .subtitle {
        font-size: 20px;
    }

    .first-screen__image {
        margin-top: 0;
        width: 80%;
    }

    .reviews__content {
        margin: 0 auto;
        width: 640px;
    }

    .questions__list__item {
        font-size: 20px;
    }

    .teachers__subtitle {
        margin-bottom: 20px !important;
        display: block;
    }

    .questions__text,
    .first-screen__form-label {
        font-size: 20px;
    }
}

@media screen and (max-width: 1300px) {
    .teachers .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .teachers__column:last-child {
        margin-left: 50px;
        margin-top: 40px;
        width: 100%;
    }

    .teachers__slider {
        max-width: unset;
        width: 90%;
    }

    .teachers__slider-wrap {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1100px) {
    .h2 {
        font-size: 32px;
    }

    .first-screen__column {
        width: 100%;
    }

    .directions__content {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .first-screen .container {
        flex-direction: column;
    }

    .first-screen__image {
        width: 500px;
    }

    .aim__content {
        flex-direction: column;
        align-items: center;
    }

    .aim__item:first-child, .aim__item:last-child {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .form-block {
        padding-bottom: 50px;
    }

    .directions, .teachers, .aim, .reviews, .questions, .scroller, .faq, .simple {
        padding: 50px 0;
    }

    .form {
        grid-template-columns: 1fr 1fr;
    }

    .input {
        max-width: unset;
    }

    .button {
        max-width: unset;
    }

    .questions__list {
        margin-left: 10px;
    }
}

@media screen and (max-width: 800px) {
    .questions__top {
        flex-direction: column;
    }

    .faq__item__title {
        font-size: 20px;
    }


    .simple .container {
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: flex-start;
    }

    .subjects__item {
        padding: 10px 30px;
    }

    .questions__list {
        margin-left: 0;
    }

    .teachers__text {
        max-width: unset;
    }

    .teachers__column {
        width: 100%;
    }

    .aim__text {
        font-size: 16px;
        max-width: 300px;
    }

    .slick-arrow {
        z-index: 2;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .reviews__slide {
        max-width: 330px;
    }

    .reviews__slide__img {
        width: 100%;
        height: 330px;
        object-fit: cover;
    }

    .reviews__slide {
        flex-direction: column;
    }

    .reviews__slide__content {
        margin-top: 10px;
    }

    .reviews__slide__text {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .reviews__content {
        width: 100%;
    }

    .teachers__slider {
        width: 100%;
    }

    .teachers__column:last-child {
        margin-left: 0;
    }

    .teachers__slider-wrap {
        right: unset;
    }

    .directions__content {
        width: 95%;
    }

    .first-screen__image {
        display: none;
    }

    .first-screen__form-label {
        margin-top: 20px;
    }

    .logo-wrap img {
        width: 150px;
    }
    .faq .h2 img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .first-screen__form-label {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .faq__item__title {
        margin-right: 10px;
    }

    .directions__content {
        margin-top: 30px;
    }

    .faq__item {
        padding: 10px 20px;
    }

    .scroller__line__items__item__text {
        font-size: 16px;
    }

    .container {
        width: 90%;
    }

    .form-block {
        margin-top: 30px;
        padding-top: 50px;
    }

    .first-screen__title {
        font-size: 40px;
    }

    .form {
        gap: 5px 20px;
    }

    .h2 {
        font-size: 24px;
    }

    .subjects__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .subjects__item {
        width: 100%;
        margin: 0;
        padding: 20px 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .first-screen__title {
        font-size: 24px;
        line-height: 28px;
        margin-top: 30px;
    }

    .form {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .h2 {
        font-size: 24px;
    }

    .directions__content {
        gap: 30px;
    }
}