/*@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&cache=clear&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #222222;
    --green: #7CE7D7;
    --pink: #E683C3;
    --yellow: #F7DC69;
    --bg: #F6F6F6;
    --light-grey: #C1C1C1;
    /*--rubik: "Rubik", Arial, sans-serif;*/
    --rubik: "Nunito", Arial, sans-serif;
    --comfortaa: "Comfortaa", Arial, sans-serif;
    --shadow: 0 80px 100px rgba(0, 0, 0, 0.07),
    0 33px 40px rgba(0, 0, 0, 0.05),
    0 17px 22px rgba(0, 0, 0, 0.04),
    0 10px 12px rgba(0, 0, 0, 0.035),
    0 5px 6px rgba(0, 0, 0, 0.028),
    0 2px 2px rgba(0, 0, 0, 0.02);
}

* {
    box-sizing: border-box;
}

body {
    color: var(--black);
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--comfortaa);
    line-height: 160%;
    max-width: 100vw;
}

.h1 {
    font-family: var(--rubik);
    font-weight: 900;
    font-size: 70px;
    line-height: 83px;
}

.h2 {
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 120%;
    position: relative;
    display: inline-block;
    margin: 0;
}

.h2 > img {
    position: absolute;
    right: -110px;
    top: -120px;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 160%;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    font-style: normal;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.green {
    color: var(--green);
}

.pink {
    color: var(--pink);
}

.yellow {
    color: var(--yellow);
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: flex-end;
    gap: 27px;
}

::placeholder {
    color: #C1C1C1;
}

.input {
    border: 1px solid #C1C1C1;
    border-radius: 50px;
    padding-left: 25px;
    height: 50px;
    outline: none;
    width: 100%;
    max-width: 340px;
}

.input.error {
    border: 1px solid red;
}

.button {
    background-color: var(--pink);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: var(--rubik);
    width: 100%;
    max-width: 340px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(230, 131, 195, 0.5);
}

.form__label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.form__label__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding-left: 25px;
}

.logo__span {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: var(--black);
}

.logo-wrap img {
    width: 200px;
}

.first-screen .container {
    position: relative;
    display: flex;
}

.first-screen__column {
    width: 50%;
}

.first-screen__globe {
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 40px;
}

.first-screen__title {
    position: relative;
    z-index: 2;
    margin-top: 126px;
}

.first-screen__image {
    margin-top: -50px;
    width: 100%;
}

.first-screen__image.ege {
    margin-top: 50px;
}

.first-screen__subtitle {
    max-width: 700px;
    display: block;
}

.first-screen__decor {
    position: absolute;
}

.first-screen__decor-1 {
    left: -200px;
    top: 300px;
}

.first-screen__decor-2 {
    left: 0;
    top: 600px;
}

.history .first-screen__decor-2,
.literature .first-screen__decor-2,
.physics .first-screen__decor-2,
.biology .first-screen__decor-2,
.society .first-screen__decor-2 {
    top: 470px;
}

.society .first-screen__title {
    font-size: 60px;
    line-height: 64px;
}

.ege .first-screen__decor-2,
.oge .first-screen__decor-2,
.secondary-school .first-screen__decor-2 {
    top: 670px;
}

.first-screen__form-label {
    font-family: var(--rubik);
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    color: var(--pink);
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}

.form-block {
    margin-top: 75px;
    padding: 75px 0;
    background-color: #dcfff9;
}

.directions {
    padding-top: 100px;
    padding-bottom: 100px;
}

.directions__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin-top: 80px;
}

.directions__item {
    background: #FFFFFF;
    box-shadow: var(--shadow);
    border-radius: 20px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: var(--black);
    position: relative;
}

.directions__item:hover .directions__item__arrow {
    right: -25px;
}


.directions__item:nth-child(1) {
    background: url("../img/icons/directions-1.svg") 88% center no-repeat;
}

.directions__item:nth-child(1) .directions__item__arrow path {
    fill: var(--green)
}

.directions__item:nth-child(2) {
    background: url("../img/icons/directions-2.svg") 88% center no-repeat;
}

.directions__item:nth-child(2) .directions__item__arrow path {
    fill: var(--yellow)
}

.directions__item:nth-child(3) {
    background: url("../img/icons/directions-3.svg") 88% center no-repeat;
}

.directions__item:nth-child(3) .directions__item__arrow path {
    fill: var(--pink)
}

.directions__item__class {
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: var(--light-grey);
}

.directions__item__name {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    font-family: var(--rubik);
    margin-bottom: 6px;
}

.directions__item__text {
    max-width: 295px;
}

.directions__item__arrow {
    position: absolute;
    right: -18px;
    top: 44px;
    transition: 0.3s ease all;
}

.teachers {
    padding: 100px 0;
    background-color: #fdeeb0;
}

.teachers .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teachers .subtitle {
    max-width: 474px;
    margin: 0;
}

.teachers__text {
    max-width: 700px;
    margin: 0;
    margin-top: 30px;
}

.teachers__column {
    width: 50%;
}

.teachers__slider-wrap {
    position: relative;
    right: -80px;
}

.teachers__slider {
    position: relative;
    max-width: 650px;
}

.teachers__slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.teachers__img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.teachers__card {
    max-width: 232px;
    background-color: white;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin-top: -50px;
}

.teachers__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    font-family: var(--rubik);
    display: block;
    margin-bottom: 5px;
}

.teachers__slide__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
    margin: 0;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    height: 32px;
    width: 30px;
    border: none;
    outline: none;
    font-size: 0;
    cursor: pointer;
}

.slick-prev {
    left: -40px;
    background: url("../img/icons/slider-left.svg") center center no-repeat;
}

.slick-next {
    right: -40px;
    background: url("../img/icons/slider-right.svg") center center no-repeat;
}

.aim {
    padding: 100px 0;
}

.aim__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 60px;
}

.aim__text {
    max-width: 500px;
    text-align: center;
}

.aim__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aim__item:first-child, .aim__item:last-child {
    margin-top: 140px;
}

.aim__item .subtitle {
    margin-top: -50px;
    margin-bottom: 0;
}

.reviews {
    padding: 100px 0;
    background-color: #ffecf7;
}

.reviews__content {
    padding-top: 50px;
}

.reviews__slide {
    background: url("../img/icons/quotes.svg") 88% center no-repeat, var(--yellow);
    border-radius: 20px;
    padding: 25px;
    max-width: 690px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.reviews__slide__img {
    margin-right: 25px;
    border-radius: 10px;
}

.reviews__slide__name {
    font-family: var(--rubik);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}

.reviews__slide__text {
    font-size: 14px
}

.questions {
    padding: 100px 0;
}

.questions__top {
    display: flex;
    margin-bottom: 40px;
}

.questions__text {
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 160%;
    color: var(--pink);
    max-width: 428px;
}

.questions__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 60px;
}

.questions__list__item {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 160%;
}

.questions__list__item b {
    font-family: var(--rubik);
    font-weight: 700;
}

.subjects {
    padding: 100px 0;
}

.subjects__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.subjects__item {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-family: var(--rubik);
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-decoration: unset;
    text-align: center;
    transition: 0.3s ease all;
}

.subjects__item:nth-child(3n) {
    background-color: var(--green);
}

.subjects__item:nth-child(3n+1) {
    background-color: var(--pink);
}

.subjects__item:nth-child(3n+2) {
    background-color: var(--yellow);
}

.subjects__item:hover {
    transform: translateY(-5px);
}

.subjects__item:nth-child(3n):hover {
    box-shadow: 0 10px 20px var(--green);
}

.subjects__item:nth-child(3n+1):hover {
    box-shadow: 0 10px 20px var(--pink);
}

.subjects__item:nth-child(3n+2):hover {
    box-shadow: 0 10px 20px var(--yellow);
}

.email-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: var(--shadow);
    border-radius: 20px;
    padding: 40px 50px;
    width: fit-content;
    margin: 0px auto;
}


.email-card__title {
    font-family: var(--rubik);
    font-size: 32px;
    margin-top: 20px;
    text-align: center;
    color: var(--black);
    line-height: 130%;
}

.scroller {
    padding: 100px 0;
}

.scroller__line {
    margin-top: 50px;
    height: 10px;
    width: 20px;
    border-radius: 5px;
    background-color: var(--green);
    display: block;
    position: relative;
}

.scroller__line__arrow {
    position: absolute;
    right: -35px;
    top: -11px;
}

.scroller__line__items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.scroller__line__items__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroller__line__items__item__text {
    text-align: center;
    max-width: 300px;
}

.scroller__line__items__item__icon {
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: 0.5s ease all;
}

.simple {
    padding: 100px 0;
    background-color: #dcfff9;
}

.simple .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    justify-items: center;
}

.simple__image {
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.faq {
    padding: 100px 0;
}

.faq__content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.faq__item {
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    padding: 20px 50px;
    margin-bottom: 20px;
    position: relative;
    transition: 0.3s ease all;
}

.faq__item.active {
    border: 1px solid transparent;
    box-shadow: var(--shadow);
}

.faq__item.active .faq__item__btn {
    transform: rotate(-45deg);
    box-shadow: none;
}

.faq__item__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 20px 0;
}

.faq__item__title {
    font-family: var(--rubik);
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
    margin: 0;
    margin-right: 40px;

}

.faq__item__btn {
    position: relative;
    width: 30px;
    height: 30px;
    transition: 0.3s ease all;
    border-radius: 50%;
    padding: 25px;
    box-shadow: var(--shadow);
}

.faq__item__btn:before {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -1px;
    width: 30px;
    height: 2px;
    content: '';
    display: block;
    background-color: var(--black);
}

.faq__item__btn:after {
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -15px;
    width: 2px;
    height: 30px;
    content: '';
    display: block;
    background-color: var(--black);
}

.faq__item__content {
    display: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px 0;
}

.faq__item__content .text {
    margin: 0;
}